fastapi
uvicorn[standard]
ipdb
trimesh
numpy
torch==1.7.1
torchvision==0.8.2
torchaudio==0.7.2
requests
scikit-image
matplotlib
cython==0.29.20
usd-core==22.3
aspose-3d
opencv-python
python-multipart
jwt
PyJWT
httpx
boto3
git+https://github.com/nftstorage/python-client.git
python-dotenv